/* Элементы <fieldset> и <legend> */

/* label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

input {
  margin-right: 3px;
  margin-left: 3px;
}

button {
  margin-top: 5px;
} */

/* Группировка с возможностью оформления */

.form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.form-group p {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}

label {
  display: flex;
  align-items: center;
}

label + label {
  margin-top: 5px;
}

input {
  font-size: inherit;
  margin-right: 5px;
  margin-left: 5px;
}

button {
  font-size: 12px;
}
